{erl_opts, [
            warn_unused_import
           ,debug_info
           ,warnings_as_errors
           ]}.

{profiles, [
            {doc, [
                   {deps, [edown]}
                  ,{edoc_opts, [{doclet, edown_doclet}]}
                  ]}
           ,{test, [
                    {cover_enabled, true}
                   ,{cover_print_enabled, true}
                   ,{cover_export_enabled, true}
                   ,{dialyzer, [
                                {warnings, [no_return]}
                               ,{plt_apps, top_level_deps}
                               ,{plt_prefix, "{{name}}"}
                               ]}
                   ]}
           ,{release , [{relx, [{release
                                ,{{{name}}, "0.0.0"}
                                ,[
                                  {{name}}
                                %, write other deps here
                                 ,sasl
                                 ]}
                               ,{include_erts, true}
                               ,{include_src, false}
                               ,{dev_mode, false}
                               ,{generate_start_script, true}
                               ,{extended_start_script, true}
                               ,{sys_config, "./config/sys.config"}
                               ,{vm_args, "config/vm.args"}
                               ]}]}
           ]}.


%%{plugins, [rebar3_hex]}.
